.Root{
  background-color: #e3f0ff;
}

.App {
  text-align: center;
  width:100%;
  height: 100%;
  margin-top: 10%;
  align-items: center;
  justify-content:center;
  display: flex;
  flex-flow:row wrap;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  
}